.criminalsContainer h2 {
    text-align: center;
}
.criminalsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
            
}
.criminalCard {
    border: .5px dotted black;
    padding: 10px;
    width: 250px;
    margin: 5px;
    /* display: flex; */
    /* justify-content: space-between; */

}