html, body{
    height: 100%;
}
body {
    /* background-color: floralwhite; */
    background-color: rgb(228, 229, 245);
}
.container{
    /* display: flex; */
}
header{
    width: 100%;
    /* border: 1px dotted black; */
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    /* margin-left: 450px; */
    /* padding: 5px; */
    /* margin: 5px; */
    text-align: center;
    /* background-color: papayawhip; */
    background-color: rgb(168, 175, 194);
    /* color: rgb(223, 203, 212); */
}
.headerClickables{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 8px,2px;
}
header button{
    margin: 2px;
    background-color: rgb(223, 203, 212);
}
.filters{
    display: flex;
}
.dropdown{
    margin: 2px;
    flex-wrap: wrap;
}

.box{
    display:flex
}



.criminalsContainer {
    /* display: flex; */
    border: .5px dotted black;
    width: 80%;
}
.criminalsContainer h2 {
    text-align: center;
    
}
.criminalsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 40%; */
            
}
.criminalCard {
    /* display: flex; */
    border: .5px dotted black;
    padding: 5px;
    width: 225px;
    /* height: 275px; */
    margin: 5px;
    background-color:  rgb(168, 175, 194);
    /* border-radius: 8pt; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.criminalCard p {
    margin: 0;
}
.criminalCard button{
    margin: 0 auto;
    align-self: end;
    bottom: 10px;
}


.containerRight {
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    /* align-content: flex-end; */
    /* width: 20%; */
}
.noteFormContainer{
    /* width: 200px; */
    margin: 5px;
    padding: 5px;
    background-color: rgb(168, 175, 194);
}
.noteListContainer h3 {
    /* text-align: center; */
    padding: 5px;
}

.noteListButton{
    margin-left: 8px;
}

.note{
    border: .5px dotted black;
    padding: 5px;
    /* width: 90%; */
    margin: 5px;
    background-color: rgb(168, 175, 194);
    border-radius: 5pt;
}
.deleteNote{
    margin-left: 200px;
}
.associateCard{
    border: .5px dotted black;
    padding: 5px;
    /* width: 90%; */
    margin: 5px;
    background-color: rgb(168, 175, 194);

}
/* .associateCard h3 {
    text-align: center;
} */
button{
    background-color: rgb(223, 203, 212);
    border-radius: 5pt;
}
#showNotes{
    align-self: center;
    width: 90%;
}
 
#witnessBox { 
    border: .5px dotted black;
    width: 80%;
}  
.witnessContainer h2 {
    text-align: center;
    
}
.witnessList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 40%; */
            
}
.witnessCard {
    border: .5px dotted black;
    padding: 10px;
    width: 225px;
    margin: 5px;
    background-color: rgb(168, 175, 194);
    /* display: flex; */
    /* justify-content: space-between; */

}
.witnessCard p {
    margin: 0;
}
#criminalBox{
    display: block;
}
/* #witnessBox{
    display: none;
} */


.facilityCard{
    border: .5px dotted black;
    padding: 10px;
    width: 225px;
    margin: 5px;
    background-color: rgb(168, 175, 194);
}
.facilityContainer{
    display: none;
    border: .5px dotted black;
    width: 80%;
}
.facilityContainer h2{
    text-align: center;
}
.facilitiesList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
