body {
    background-color: floralwhite;
}
.container{
    /* display: flex; */
}
header{
    width: 98%;
    /* border: 1px dotted black; */
    display: block;
    /* width: 200px; */
    /* margin-left: 450px; */
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: papayawhip;
}

.noteFormContainer{
    /* width: 200px; */
    margin: 5px;
    padding: 5px;
    background-color: papayawhip;
}
.criminalsContainer {
    /* display: flex; */
    border: .5px dotted black;
    width: 80%;
}
.criminalsContainer h2 {
    text-align: center;
    
}
.criminalsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 40%; */
            
}

.criminalCard {
    border: .5px dotted black;
    padding: 10px;
    width: 225px;
    margin: 5px;
    background-color: papayawhip;
    /* display: flex; */
    /* justify-content: space-between; */

}

.criminalCard p {
    margin: 0;
}
.containerRight {
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    /* align-content: flex-end; */
    /* width: 20%; */
}
.noteListContainer h3 {
    /* text-align: center; */
    padding: 5px;
}
.box{
    display:flex
}
.noteListButton{
    margin-left: 8px;
}

.note{
    border: .5px dotted black;
    padding: 5px;
    /* width: 90%; */
    margin: 5px;
    background-color: papayawhip;
}
.associateCard{
    border: .5px dotted black;
    padding: 5px;
    /* width: 90%; */
    margin: 5px;
    background-color: papayawhip;

}
/* .associateCard h3 {
    text-align: center;
} */
.noteListButton{
    align-items: center;
}
 #witnessBox { 
    border: .5px dotted black;
    width: 80%;
 }  
.witnessContainer h2 {
    text-align: center;
    
}
.witnessList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 40%; */
            
}
.witnessCard {
    border: .5px dotted black;
    padding: 10px;
    width: 225px;
    margin: 5px;
    background-color: papayawhip;
    /* display: flex; */
    /* justify-content: space-between; */

}
.witnessCard p {
    margin: 0;
}
#criminalBox{
    display: block;
}
/* #witnessBox{
    display: none;
} */

